@font-face {
  font-family: Sahel;
  src: url("../webfonts/Sahel/Sahel.eot");
  src: url("../webfonts/Sahel/Sahel.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/Sahel/Sahel.woff2") format("woff2"),
    url("../webfonts/Sahel/Sahel.woff") format("woff"),
    url("../webfonts/Sahel/Sahel.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url("../webfonts/Sahel/Sahel-Bold.eot");
  src: url("../webfonts/Sahel/Sahel-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../webfonts/Sahel/Sahel-Bold.woff2") format("woff2"),
    url("../webfonts/Sahel/Sahel-Bold.woff") format("woff"),
    url("../webfonts/Sahel/Sahel-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url("../webfonts/Sahel/Sahel-Light.eot");
  src: url("../webfonts/Sahel/Sahel-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../webfonts/Sahel/Sahel-Light.woff2") format("woff2"),
    url("../webfonts/Sahel/Sahel-Light.woff") format("woff"),
    url("../webfonts/Sahel/Sahel-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Sahel;
  src: url("../webfonts/Sahel/Sahel-SemiBold.eot");
  src: url("../webfonts/Sahel/Sahel-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../webfonts/Sahel/Sahel-SemiBold.woff2") format("woff2"),
    url("../webfonts/Sahel/Sahel-SemiBold.woff") format("woff"),
    url("../webfonts/Sahel/Sahel-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: Sahel;
  src: url("../webfonts/Sahel/Sahel-Black.eot");
  src: url("../webfonts/Sahel/Sahel-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../webfonts/Sahel/Sahel-Black.woff2") format("woff2"),
    url("../webfonts/Sahel/Sahel-Black.woff") format("woff"),
    url("../webfonts/Sahel/Sahel-Black.ttf") format("truetype");
  font-weight: 900;
}
