@import "includes/variables";
@import "includes/mixins";

.header {
  text-align: center;
  h2 {
    font-weight: bold;
  }
  margin: 30px auto;
}

.main {
  form {
    width: 80%;
    margin: 20px auto;
    height: 350px;
    box-shadow: $shadow-1;
    border-radius: $radius-1;
    @include flexCenter(column, center, center);

    input {
      margin: 5px;
      padding: 5px;
      width: 80%;
      border: none;
      box-shadow: $shadow-1;
      outline: none;
      direction: ltr;
      border-radius: $radius-2;
      font-size: 1.1rem;
      text-align: center;
    }

    input:focus {
      width: 90%;
      border-right: 2px solid $red;
      border-left: 4px solid $red;
    }

    input:nth-child(5) {
      margin-top: 30px;
      width: auto;
    }

    input[type="submit"]:hover {
      background-color: $blue;
      color: white;
    }
  }
}

.footer {
  @include flexCenter(row, center, center);
  margin: 10px auto;
  box-shadow: $shadow-1;
  border-radius: $radius-1;
  width: 300px;
  height: 40px;
  display: flex;
  * {
    margin: 0 5px;
  }

  a {
    color: $pink;
    font-weight: bold;
  }
}

.errorMessage {
  @include flexCenter(row, center, center);
  margin: 10px auto;
  box-shadow: $shadow-2;
  border-radius: $radius-2;
  width: 80%;
  height: 30px;
  background-color: $orange;
  color: $white;
  div {
    margin: 0 10px;
  }
}
