@import "includes/variables";
@import "includes/mixins";

.main form {
  margin: 20px 10px;
  border-radius: $radius-2;
  padding: 5px;

  div {
    .hover:hover {
      box-shadow: 0 0 1px 5px transparentize($color: $blue, $amount: 0.5);
    }
    * {
      margin: 5px 0;
    }
    .post-title {
      width: 100%;
      padding: 5px;
      border-radius: $radius-2;
      border: none;
      box-shadow: $shadow-2;
    }
    select {
      padding: 5px;
      border-radius: $radius-2;
      border: none;
      box-shadow: $shadow-2;
      background: white;
    }
    #editor {
      padding: 5px;
      border-radius: $radius-2;
      border: none;
      box-shadow: $shadow-2;
      background: white;
      width: 100%;
      height: 400px;
      resize: none;
    }
  }
}

.btns {
  height: 50px;
  @include flexCenter(row, right, center);
  .btn-success {
    height: 100%;
    padding: 0 50px;
    border-radius: $radius-2;
    font-weight: bolder;
    color: white;
    margin-left: 20px;
    background-color: $green;
    border: none;
    box-shadow: $shadow-2;
    height: 80%;
  }
  .btn-success:hover {
    background-color: $blue;
    color: white;
    box-shadow: 0 0 0 5px transparentize($color: $blue, $amount: 0.5);
  }
  a {
    margin-right: 15px;
    padding: 0 10px;
    color: white;
    border-radius: $radius-2;
    border: none;
    box-shadow: $shadow-2;
    background: red;
    height: 80%;
    @include flexCenter(row, center, center);
  }
}

.ck-editor__editable,
.ck-editor__main {
  margin-top: 0 !important;
  padding: 0 !important;
}

.ck-editor__editable {
  height: 400px !important;
}

.ck-editor__editable:hover {
  box-shadow: 0 0 1px 2px transparentize($color: $blue, $amount: 0.5);
}

.errorMessage {
  @include flexCenter(row, center, center);
  margin: 10px auto;
  box-shadow: $shadow-2;
  border-radius: $radius-2;
  width: calc(100vw - 40px);
  height: 30px;
  background-color: $orange;
  color: $white;
  div {
    margin: 0 10px;
  }
}

.row {
  height: 50px;
  @include flexCenter(row, space-between, center);
}

.upload-image-container {
  width: 85%;
  @include flexCenter(row, space-between, center);
  * {
    border-radius: $radius-2;
    height: 100%;
    border: none;
  }
  button {
    margin-right: 10px !important;
    padding: 5px;
    background-color: #fff;
    box-shadow: $shadow-2;
  }
  input {
    display: none;
  }
  label {
    padding: 3px;
    cursor: pointer;
    box-shadow: $shadow-2;
    margin-right: auto !important;
  }
}

.fa-telegram-plane::before {
  background-color: #fff !important;
}

.progressBar {
  color: white;
  height: 30px;
  background-color: $blue;
  @include flexCenter(column, center, center);
  &-container {
    margin-right: 10px !important;
    padding: 0 5px;
    width: 70%;
    height: 40px;
    box-shadow: $shadow-2;
  }
}

#imageStatus {
  font-size: 15px;
  text-shadow: 0px 0px 5px #000;
}
